
@model JsonDemo.Models.Photo

@{
    ViewBag.Title = "Details";
}

<div id="content">
    <div id="detailsPanel">
        <div id="PhotoDetails">
            <div class="photoDetailsOwner">
                <div class="UserSmallAvatar" style="background-image:url(@Model.Owner.Avatar)" title="@Model.Owner.Name"></div>
                @Model.Owner.Name
            </div>
            <hr />
            <div class="photoDetailsTitle">@Model.Title</div>
            <a href="@Model.Image" target="_blank">
                <img src="@Model.Image" class="photoDetailsLargeImage" />
            </a>
            <div class="photoDetailsCreationDate">
                <span>@Model.CreationDate</span>
                <div class="likesSummary">
                    @Model.Likes.Count

                </div>
                <div style="font-size:1.1em" class="cmdIconSmall fa-regular fa-thumbs-up" id="addRemoveLikeCmd" photoid="@Model.Id" title="@Model.UsersLikeList"></div><!--a finir-->
            </div>
            <div class="photoDetailsDescription">@Model.Description</div>
        </div>
    </div>
</div>