
@model JsonDemo.Models.Photo

@{
    ViewBag.Title = "Details";
}

<div id="content">
    <div id="detailsPanel">
        <div id="PhotoDetails">
            <div class="photoDetailsOwner">
                <div class="UserSmallAvatar" style="background-image:url(@Model.Owner.Avatar)" title="@Model.Owner.Name"></div>
                @Model.Owner.Name
            </div>
            <hr />
            <div class="photoDetailsTitle">@Model.Title</div>
            <a href="@Model.Image" target="_blank">
                <img src="@Model.Image" class="photoDetailsLargeImage" />
            </a>
            <div class="photoDetailsCreationDate">
                <span>@Model.CreationDate</span>
                <div class="likesSummary">
                    @Model.Likes.Count
                    <a href="@Url.Action("TogglePhotoLike","Photos",new { id = Model.Id })">
                        <div style="font-size:1.1em" class="cmdIconSmall @(Model.LikedByUser ? "fa fa-thumbs-up" : "fa-regular fa-thumbs-up")" id="addRemoveLikeCmd" data-photoid="@Model.Id" title="@Model.UsersLikeList"></div><!--a finir-->
                    </a>
                </div>

            </div>
            <div class="photoDetailsDescription">@Model.Description</div>
        </div>
    </div>
</div>

<script>
    @*$(document).on('click', '#addRemoveLikeCmd', function () {
        var photoId = $(this).data('photoid');
        var $icon = $(this);

        $.ajax({
            url: '@Url.Action("TogglePhotoLike", "PhotosController")',
            type: 'POST',
            data: { id: photoId },
            success: function (response) {
                if (response.success) {
                    // Update the likes count
                    $('#likesCount').text(response.likesCount);

                    // Update the title with the list of users who liked the photo
                    $icon.attr('title', response.usersLikeList);

                    // Toggle the blue thumbs-up class
                    if ($icon.hasClass('fa-regular')) {
                        $icon.removeClass('fa-regular fa-thumbs-up').addClass('fa fa-thumbs-up');
                    } else {
                        $icon.removeClass('fa fa-thumbs-up').addClass('fa-regular fa-thumbs-up');
                    }
                } else {
                    alert('An error occurred while toggling the like.');
                }
            },
            error: function () {
                alert('An error occurred while processing your request.');
            }
        });
    });*@
</script>